#playersearch{
	float:right;
}

#dash_playersearch{
	float:right;
}

#last_season{
	float:left;
}

#pg_stats{
	float:right;
}

#player_info{
	float:left;
}

#Left_Column{
	float:left;
}

#awardstable{
	float:left
}

#champ_logo{
	height: 250px;
	width: 250px
}

#dash_search_button{
	height: 18px;
	width: 42px
}

#dash_search_bar{
	height: 18px;
}

#nav-bar{
	display: flex;
	justify content: center;
}
