#playersearch{
	float:right;
}

#dash_playersearch{
	float:right;
}

#last_season{
	float:left;
}

#pg_stats{
	float:right;
}

#player_info{
	float:left;
}

#Left_Column{
	float:left;
}

#awardstable{
	float:left
}
