{% extends 'base.html'%}

{% block title %}Dash{% endblock %}

{% block content %}
	<div id=last_season>
		<h2>{{season}} Season</h2>
	<div id=champs_img>
		<h3>Champions</h3>
		<img src={{ url_for('static', filename = champ_img) }} alt=Champions id=champ_logo>
	</div>	
	<p>Boston Celtics</p>

		<h4>Award Winners</h4>

	</div>


	<div id=dash_playersearch>
		<form action='/dash', method='POST'>
			<input id= dash_search_bar type='text', name='playerName' placeholder='Search...'></input>
			<button id=dash_search_button type='submit'>Enter</button>
		</form>

	{% for table in tables %}
	<table>
		<thead>
		</thead>
		<tbody>
			{{ table|safe }}
		</tbody>
	</table>
	{% endfor %}
	</div>
{% endblock %}
