{% extends 'base.html' %}

{% block title %}{{player_name}}{% endblock %}

{% block content %}
<div id='Left-Column'>
	<div id='back_button'>
	<form action='/dash', method='POST'>
	<button type='submit'>Back</button>
	</form>
	</div>

<div id='player_info'>
<img src='/players/images/{{player_id}}.png' alt='Picture of {{player_name}}'>
<p>{{player_name}} <br>
{{player_position}} | #{{player_number}} <br>
Height: {{player_height}} Weight: {{player_weight}}lbs <br>
{{team_name}}

</p>
</div>
<div id='awardstable'>
{% for table in tablePawards %}
<table>
	<thead>
	</thead>
	<tbody>
		{{ table|safe }}
	</tbody>
</table>
{% endfor %}
</div>

</div>

<div id='Right-Column'
<div id='pgstats'>
<!-- <form method='POST'>
<input type='hidden'>
<button type='submit'>Per Game</button>
<button type='submit'>Totals</button>
</form>
-->
{% for table in tablepgstats %}
<table>
	<thead>
	</thead>
	<tbody>
		{{ table|safe }}
	</tbody>
</table>
{% endfor %}
</div>
</dij>










{% endblock %}
