<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style.css') }}'>
</head>

<body>
	<nav id='nav-bar'>
		<form action='/dash' method='POST'>
		<button type='submit'>Dash</button>
		</form>

		<form action='/teams' method='POST'>
		<button type='submit'>Teams</button>
		</form>

		<form action='/' method='POST'>
		<button type='submit'>24-25</button>
		</form>
	</nav>

	{% block content %}
	{% endblock %}
</body>
</html>
